# Step 1: Preparing for Your Proposal

1. Which client/dataset did you select and why?

Sports stats.
The yelp data set is enormous and difficult to wrangle into a useable format.
I would rather not have to deal with the thoughts and feelings of politicians.

2. Describe the steps you took to import and clean the data.

In [14]:
import pandas as pd
from sqlalchemy import create_engine, Integer, String, Float

In [2]:
cnx = create_engine('mysql+pymysql://rachel:root@127.0.0.1:3306/sports_stats')

Import `noc_regions` into a `regions` table using mysql import wizard

Import `athlete_events` into a `records` table

In [5]:
df = pd.read_csv('SportsStats/athlete_events.csv', na_values=['NA'])

In [6]:
df.shape

(271116, 15)

In [20]:
df.to_sql('records', 
            cnx, 
            if_exists='replace', 
            index=False,
            chunksize=1000,
            dtype={
                'ID': Integer,
                'Name': String(150),
                'Sex': String(3),
                "Age": Integer,
                "Height": Float,
                "Weight": Float,
                "Team": String(50),
                "NOC": String(5),
                "Games": String(30),
                "Year": Integer,
                "Season": String(20),
                "City": String(50),
                "Sport": String(50),
                "Event": String(150),
                "Medal": String(15)
                }
)

In [21]:
pd.read_sql("select count(*) from records", cnx)

   count(*)
0    271116

In [23]:
pd.read_sql("select count(*) from regions", cnx)

   count(*)
0       230

3. Perform initial exploration of data and provide some screenshots or display some stats of the data you are looking at.

In [25]:
medal_query = """
select medal, avg(age) as Age, avg(height) as Height, avg(Weight) as Weight
from records
group by medal
limit 5
"""

In [26]:
pd.read_sql(medal_query, cnx)

    medal      Age      Height     Weight
0    None  25.4923  174.956303  70.176771
1    Gold  25.9010  177.898472  74.183879
2  Bronze  25.8792  177.298283  73.479010
3  Silver  25.9967  177.458247  73.644962

Those with medals appear to be about 6 months older than those without.
Those with medals also appear to be 2-3cm taller and 3-4kg heavier than those without.

4. Create an ERD or proposed ERD to show the relationships of the data you are exploring.

![ERD Diagram](ERD.jpg)

# Step 2: Develop Project Proposal

## Description

I am looking to find interesting trends in the height and weight of olympic atheletes and how these relate to various other factors.
Local news, elite personal trainers and sports talent scouts might be interested in my findings and would be my audience.

## Questions

1. Have athletes who win medals become taller or heavier over time?
1. Do countries who have taller or heavier athletes tend to win more medals?
1. Are there any sports where shorter or lighter athletes are more likely to recieve a medal?

## Hypothesis

1. Atheletes who win medals have become taller over time, but not heavier.
1. There is no correlation between the height and weight of the atheletes for a country and if a country wins lots of medals.
1. There will be sports where shorter and lighter atheletes are more likely to get medals.

## Approach

I will be reviwing the height, weight, medal, sport, year and Team columns.
I doubt that I will use the regions table as I think the data in the records table will be sufficient.
I will be reviewing average, min and max of height and weight and comparing these to other metrics.
I will be visualising the results to more easily spot trends or patterns.